.page-app{
    position: relative;
    height: 100vh;

    & .aside-area{
        position: absolute;
        top: 48px;
        left: 0;
        width: 240px;
        height: calc(100% - 48px);
    }

    & .main{
        box-sizing: border-box;
        height: calc(100% - 48px);
        margin-left: 240px;
        padding: 10px;
    }
}